<!DOCTYPE html>
<html th:replace="template/inspinia_singlemenu/inspinia.html::html">
<head>
    <title>主体评级发起</title>
    <link rel="stylesheet" href="/css/mainRatingTrial.css?t=2" type="text/css">
	<link rel="stylesheet" type="text/css" href="/css/newStyle.css">
	<!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script> -->
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
<div id="wrapper" style="margin-left: 0;">
    <div id="page-wrapper" class="gray-bg">
        <!-- 菜单开始end -->
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>主体评级管理&nbsp;&nbsp;/&nbsp;&nbsp;主体评级发起</h5>
                        </div>
                        <div class="ibox-content" style="padding-bottom: 0;">
                            <form class="form-horizontal" id="formSearch">
                                <div class="form-group">
                                	<label class="col-sm-1 control-label">客户编号</label>
                                    <div class="col-sm-2">
                                        <input id="SearchBpMasterCode" type="text" placeholder="模糊查找" name="custCode"
                                               class="form-control" autocomplete="off" data-provide="typeahead">
                                    </div>
                                    <label class="col-sm-1 control-label">客户名称</label>
                                    <div class="col-sm-2">
                                        <input id="lesseeName" type="text" placeholder="模糊查找" name="custName"
                                               class="form-control" autocomplete="off" data-provide="typeahead">
                                    </div>
                                    <label class="col-sm-1 control-label">所属部门</label>
                                    <div class="col-sm-2">
                                        <select class="chosen-select" id="" name="leaseOrganization">
                                            <option value="">请选择</option>
                                            <option th:each="option: ${@clockDictionary.dicOrg()}"
                                                    th:value="${option.key}" th:text="${option.value}"></option>
                                        </select>
                                    </div>
                                    <label class="col-sm-1 control-label">业务经理</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="模糊查找" id="userSearch" name="employee"
                                               class="form-control" autocomplete="off" data-provide="typeahead">
                                    </div>
                                    <!-- <label class="col-sm-1 control-label">国标行业</label>
                                    <div class="col-sm-2">
                                        <select class="chosen-select" id="" name="industry">
                                            <option value="">请选择</option>
                                            <option th:each="option: ${@clockDictionary.dicIndustry('01')}"
                                                    th:value="${option.key}" th:text="${option.value}"></option>
                                        </select>
                                        											<input type="text" id="industry" name="industry" placeholder="模糊查找" class="form-control">
                                                                                </div>
                                    <label class="col-sm-1 control-label">高精尖产业分类</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="精确查找" class="form-control">
                                        <select class="chosen-select" id="" name="highprecision">
                                            <option value="">请选择</option>
                                            <option th:each="option: ${@clockDictionary.dicIndustry('02')}"
                                                    th:value="${option.key}" th:text="${option.value}"></option>

                                        </select>
                                    </div> -->
                                </div>
                                <div class="form-group">

                                    <!-- <label class="col-sm-1 control-label">高新技术企业类型</label>
                                    <div class="col-sm-2">
                                        <select class="chosen-select" id="" name="enterprisehonor">
                                            <option value="">请选择</option>
                                    <option th:each="option: ${@clockDictionary.esAlStType('ENTERPRISE_HONOR')}" th:value="${option.key}" th:text="${option.value}"></option>
                                        </select>
                                    </div> -->
                                    <!-- <label class="col-sm-1 control-label">经济类型</label>
                                    <div class="col-sm-2">
                                        <select class="chosen-select" id="" name="economic">
                                            <option value="">请选择</option>
                            <option th:each="option: ${@clockDictionary.dicEconomic()}" th:value="${option.key}" th:text="${option.value}"></option>
                                        </select>
                                    </div> -->
                                    <label class="col-sm-1 control-label">评级模板</label>
                                    <div class="col-sm-2">
                                        <select class="chosen-select" id="" name="fdType">
                                            <option value=''>请选择</option>
                                            <option
                                                    th:each="option: ${@frSystemDictionaryService.getDictionaryMap('MainRatingTemplate',#locale)}"
                                                    th:value="${option.key}" th:text="${option.value}"></option>
                                        </select>
                                    </div>
                                    <label class="col-sm-1 control-label">评级类型</label>
                                    <div class="col-sm-2">
                                        <select class="chosen-select" name='method'>
                                            <option value="">请选择</option>
                                            <option th:each="option: ${@frSystemDictionaryService.getDictionaryMap('RatingMethods','')}"
                                                    th:value="${option.key}" th:text="${option.value}"></option>
                                        </select>
                                    </div>
                                    <label class="col-sm-1 control-label">评级日期</label>
                                    <div class="col-sm-3">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input id="date1" type="text" class="form-control"
                                                   name="date1" placeholder="请选择开始日期" readonly/> <span
                                                class="input-group-addon">至</span> <input id="date2"
                                                                                          type="text"
                                                                                          class="form-control"
                                                                                          name="date2"
                                                                                          placeholder="请选择结束日期"
                                                                                          readonly/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="text-align: right;">
                                         <b id="btn-reset" class="btn btn-success pull-right">重置</b>
                                        <b id="btn-query" class="btn btn-success pull-right" style="margin-right:10px">查询</b>
                                       
                                    </div>
                                    <!-- <label class="col-sm-1 control-label">评级状态</label>
                                    <div class="col-sm-2">
											<select class="chosen-select" id="rateType" name="productType" >
											    <option value="">请选择</option>
           									 	<option value='1'>评级测算</option>
												<option value='0'>历史评级</option>												
											</select>
										</div> --> 
										
                               </div>
                                <!-- <div class="form-group">
                                    <label class="col-sm-1 control-label">评级生效日期</label>
                                    <div class="col-sm-3">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input id="date2" type="text" class="form-control"
                                                   name="date2" placeholder="请选择开始日期" readonly/> <span
                                                class="input-group-addon">至</span> <input id="date1"
                                                                                          type="text"
                                                                                          class="form-control"
                                                                                          name="date1"
                                                                                          placeholder="请选择结束日期"
                                                                                          readonly/>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <b id="btn-query" class="btn btn-success pull-right" style="margin-right:10px">查询</b>
                                        <b id="btn-reset" class="btn btn-success pull-right">重置</b>
                                    </div>
                                </div> -->
                            </form>
                        </div>
                    </div>
                    <div class="jqGrid_wrapper">
                        <table id="table_list"></table>
                        <div id="pager_list"></div>
                    </div>
                </div>
            </div>
            <!-- 模态窗口 -->
            <div class="modal inmodal fade modal-grade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <form class="modal-content"   id="dxDl" style="height: 100%;"  method="get" action="">
                        <fieldset>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
							<div class="progress-left">
								<div class='progress-left-head'>评级步骤</div>
								<!-- <div id="dlTxt" class="progress-name">定量分析</div> -->
								<div id="dxTxt" class="progress-name">评级信息录入</div>
                                <div class="filter-box" style="display: none;">
                                    <p>点击下方选项增/删条目</p>
                                    <div class="filter-content" id="filter-content">
                                    </div>
                                </div>
								<div id="reportTxt" class="progress-name">评级报告</div>
							</div>
							<div class="progress-right">
								<div class="width-100">
									
									<div id="dingxing" class="width-100">
										<div class="progress-head" id="dxAnalysis"><h5 class="progress-title">定性分析</h5></div>
									</div>
									
								</div>
								<div id="report" class="col-lg-10 col-sm-10 col-sm-10 .col-xs-12" style="display: none;">
									<div class="progress-head"><h5 class="progress-title">评级报告</h5></div>
									<div class="tabs-container" style="padding-top: 15px;">
										<ul class="nav nav-tabs">
											<li class="active"><a data-toggle="tab" href="#tab-1">评级报告</a></li>
											<li class=""><a data-toggle="tab" href="#tab-2">评级明细</a></li>
										</ul>
										<div class="tab-content">
											<div id="tab-1" class="tab-pane active">
												<iframe id="tab_sheet_1"
														style="min-width: 1118px;height:1000px;overflow: auto !important;"
														frameborder="no" border="0" marginwidth="0" marginheight="0"
														scrolling="no" allowtransparency="yes"></iframe>
											</div>
											<div id="tab-2" class="tab-pane">
												<iframe id="tab_sheet_2" style="width:100%;height:1300px"
														frameborder="no" border="0" marginwidth="0" marginheight="0"
														scrolling="no" allowtransparency="yes"></iframe>
											</div>
											
										</div>
									</div>
									<!-- <div class="score">定量得分：<span id="">35.25</span></div> -->
								</div>
							</div>
                        </div>
                       <!--  <div class="modal-footer" id="footer1">
                            <button type="button" class="btn btn-success" id="btn_next1">下一步</button>
                        </div> -->
                       <!--  <div class="modal-footer" id="footer2" style="display: none;"> -->
                       <div class="modal-footer" id="footer2" >
                            <div id="scoreInfo" style="padding-right: 40px;font-size: 16px;display: none;">
                                <span>定量得分：</span><span class="cale-score" id="dlScore"></span>
                                <span>定性得分：</span><span class="cale-score" id="dxScore"></span>
                                <span>总得分：</span><span class="cale-score" id="sumScore"></span>
                            </div>
                           
                           <!--  <button type="button" class="btn btn-success" id="btn_prev1">上一步</button> -->
                           <!--  <button type="button" class="btn btn-success submit" id="btn_next2">下一步</button> -->
                            <input class="submit" type="submit" value="下一步" id="btn_next2">
                        </div>
                       <div class="modal-footer" id="footer3" style="display: none;">                          
                            <button type="button" class="btn btn-danger" data-dismiss="modal" id="closeModal">关闭
                            </button>
                        </div>
                       </fieldset>
                    </form>
              
              
                </div>
            </div>
        
        
        
        </div>
    </div>
</div>
</body>

<script>
    $("input").blur(function () {
        $(".typeahead.dropdown-menu").css("display", "none");
    });
    //主体评级发起列表
    var form = "";
    $('#btn-query').click(function () {
        form = $('#formSearch').serializeObject();
        $("#table_list").jqGrid('setGridParam', {postData: form, page: 1}).trigger("reloadGrid");
    });
    //重置按钮
    $("#btn-reset").click(function () {
        $("#formSearch input").val("");
        $("#formSearch select").val("");
        $("#formSearch select").trigger("chosen:updated");
        $('#date2').datepicker('setEndDate', new Date());
        $('#date1').datepicker('setEndDate', new Date());
        $('#date1').datepicker('setStartDate', null);
        $('.typeahead').typeahead('val', "");
    });
    var custNo = "";
    var tempType = "";

    $(document).ready(function () {
        $("#table_list").jqGrid({
            url: "/irs/mainRating/parameterQueryNew",
            recordtext: "显示：{0} - {1}，总数：{2} ",
            emptyrecords: "本次查询无数据！",
            loadtext: "读取中...",
            pgtext: "第 {0}页， 共{1}页",
            mtype: "GET",
            datatype: "json",
            height: ($(window).height() - $(".float-e-margins").height() - 140),//屏幕高度-查询框高度-140的偏差值
            //scrollOffset : 0,
            autowidth: true,
            shrinkToFit: true,
            prmNames: {
                page: "page"   // 表示请求页码的参数名称
            },
            rowNum: 20,
            rowList: [20, 30, 40],
            //colNames:['评级编号','承租人编号','承租人名称','承租人类型','国标行业','高精尖产业分类','高新技术企业类型', '经济类型', '评级类型','初评等级','复核等级','违约概率','评级类型','评级日期','操作'],
            //colNames: ['评级编号', '承租人编号', '承租人名称', '评级模板', '国标行业', '高精尖产业分类', '业务部', '业务经理', '初评等级', '复核等级', '违约概率', '评级类型', '评级版本', '评级生效日期', '操作'],
            colNames: ['','客户编号', '客户名称', '客户类型', '国标行业', '所属部门', '业务经理', '评审经理', '操作'],
            colModel: [
                {name: 'id', index: 'id', editable: true, hidden: true, sortable: false},
                /*客户编号*/
                {name: 'custcode', index: 'custCode', editable: true, sortable: false, align: 'center',align: 'center', width: 60},
                /*客户名称*/
                {name: 'custname', index: 'custName', editable: true, sortable: false, align: 'center',width: 175},
                /* {
                    name: 'type',
                    index: 'type',
                    editable: true,
                    sortable: false,
                    align: 'center',
                    width: 50,
                    formatter: function (value, row, index) {
                        if ([(${@frSystemDictionaryService.getDictionaryMapJsonString('RatingTemplate','')})][value]) {
                            return [(${@frSystemDictionaryService.getDictionaryMapJsonString('RatingTemplate','')})][value];
                        } else {
                            return "";
                        }
                    }
                }, */
                /*客户类型  fd_bp_type */
                {name: 'description', index: 'description', editable: true, sortable: false, align: 'center',width: 60},
                /*'国标行业',*/
                {
                    name: 'segmentindustry', index: 'segmentindustry', editable: true, sortable: false, align: 'center', width: 140,
                    formatter: function (value, row, index) {
                        if ([(${@clockDictionary.dicIndustryToString('01')})][value]) {
                            return [(${@clockDictionary.dicIndustryToString('01')})][value];
                        } else {
                            return "";
                        }
                    }
                },
                /* {
                    name: 'highprecision', index: 'highprecision', editable: true, sortable: false, width: 140,
                    formatter: function (value, row, index) {
                        if ([(${@clockDictionary.dicIndustryToString("02")})][value]) {
                            return [(${@clockDictionary.dicIndustryToString('02')})][value];
                        } else {
                            return "";
                        }
                    }
                }, */
                /*所属部门*/
                {name: 'orgName', index: 'orgName', editable: true, sortable: false, align: 'center', width: 70},
                /*业务经理*/
                {
                    name: 'employeeId',
                    index: 'employeeId',
                    editable: true,
                    sortable: false,
                    align: 'center',
                    width: 50,
                    formatter: function (value, row, index) {
                        if ([(${@clockDictionary.fuzzySearchUser('')})][value]) {
                            return [(${@clockDictionary.fuzzySearchUser('')})][value];
                        } else {
                            return "";
                        }
                    }
                },
                
                {name: 'finalName', index: 'finalName', editable: true, sortable: false, align: 'center', width: 70},
               
                /* {
                    name: 'internlevel',
                    index: 'internlevel',
                    editable: true,
                    sortable: false,
                    align: 'center',
                    width: 50
                },
                {name: 'finallevel', index: 'finallevel', editable: true, sortable: false, align: 'center', width: 50},
                {
                    name: 'pd', index: 'pd', editable: true, sortable: false, align: 'center', width: 50,
                    formatter: function (value, index, row) {
                        if (value == null || value == '') {
                            return '';
                        }
                        return (value * 100).toFixed(2) + "%";
                    }
                }, */
/*                 {
                    name: 'ratingstatus',
                    index: 'ratingstatus',
                    editable: true,
                    sortable: false,
                    align: 'center',
                    width: 80,
                    formatter: function (value, row, index) {
                        if ([(${@frSystemDictionaryService.getDictionaryMapJsonString('RatingMethods','')})][value]) {
                            return [(${@frSystemDictionaryService.getDictionaryMapJsonString('RatingMethods','')})][value];
                        } else {
                            return "";
                        }
                    }
                }, */
/*                 {name: 'version', index: 'version', editable: true, sortable: false, align: 'center', width: 50},
                {name: 'finaldate', index: 'finaldate', editable: true, sortable: false, width: 70}, */
                {
                    name: 'id', index: 'id', editable: true, sortable: false, align: 'center',width: 70,
                    formatter: function (value, index, row) {
                        console.log(value, index, row);
                        return "<button class='btn btn-success btn-small' onclick='showProgress(\"" + value + "\",\"" + row.custcode + "\",\"" + row.type + "\",\"" + row.ratingstatus + "\",\"" + row.custname + "\");'>评级发起</button>";
                    }
                }
            ],
            pager: "#pager_list",
            viewrecords: true,
            caption: "",
            add: true,
            edit: true,
            addtext: 'Add',
            edittext: 'Edit',
            rownumbers: true,
            rownumWidth: 60,
            hidegrid: false,
            jsonReader: {
                root: "response.data",
                records: "response.totalRows",
                //page: "response.currPage", // 当前第几页
                total: "response.totalPages", // 总共多少页
                repeatitems: false,
                id: "0"
            }
        });
        $("#table_list").jqGrid('setLabel', 'rn', '序号', {'text-align': 'center', 'vertical-align': 'middle'}, '');
        // Setup buttons
        $("#table_list").jqGrid('navGrid', '#pager_list',
            {edit: false, add: false, del: false, search: false},
            {height: 200, reloadAfterSubmit: true}
        );
    });
    $(function () {
        $(window).resize(function () {
            $("#table_list").setGridWidth($(window).width());
        });
    });

    $("#closeModal").click(function () {
        var form = "";
        form = $('#formSearch').serializeObject();
        $("#table_list").jqGrid('setGridParam', {postData: form, page: 1}).trigger("reloadGrid");
    })
    var goBack = "";
    $(document).ready(function () {
        //任何需要执行的js特效
        var cust = "";
        cust = "[[${cust}]]";
        var custName="";
        custName="[[${custName}]]";
        if (cust) {
            showProgress("[[${id}]]", "[[${cust}]]", "", "",custName);
            goBack = "/irs/DebtRatingResults/debtRatingInitiate";
        };
       
        // 单选变色效果
        $(document).on('click', '.child_row1 > label input[type="radio"]', function () {
            $(this).parents('label').addClass('selected').siblings('label').removeClass('selected');
        });

        // 模态框关闭时隐藏 新增条目框
        $('#myModal').on('hidden.bs.modal', function () {
            $('.filter-box').slideUp(120);
        })
    });

</script>
<script type="text/javascript" src="/bootstrap/js/ratingRatingTrial.js?t=2"></script>
<script type="text/javascript" src="/bootstrap/js/stepsMainRating.js?t=2"></script>
</html>

