<th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/font-awesome/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/jqGrid5.3.2/ui.jqgrid.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/chosen/bootstrap-chosen.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/datapicker/datepicker3.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/ladda/ladda-themeless.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/sweetalert/sweetalert.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/animate.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/style.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/changeSkin.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/steps/jquery.steps.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/jsTree/style.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/dropzone/basic.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/dropzone/dropzone.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/jasny/jasny-bootstrap.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/codemirror/codemirror.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/inspinia/2.7.0/css/plugins/toastr/toastr.min.css}"/>
</th:block>